printWidth: 120
tabWidth: 2
useTabs: false
semi: true
singleQuote: true
trailingComma: all

overrides:
- files: "*.css"
  options:
    parser: css
    singleQuote: false
- files: "*.json"
  options:
    singleQuote: false
- files: "*.vue"
  options:
    parser: vue
